@import "../../style/variable";
@import "../../style/color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
========================================================
    Header Style
========================================================
*/
#main_header {
  width: 100%;
  height: auto;
  // height: 110vh;
}

.header_title {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  cursor: pointer;
  transition: $transition;

  img {
    width: 50%;
    border-radius: 14rem 14rem 0 0;
    background: linear-gradient(to left transparet);
    transition: $transition;

    &:hover {
      border-top: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
      transform: scale(1.05);
    }
  }
}

/*
========================================================
   Button Style
========================================================
*/

.main_header_btn {
  margin-top: 1rem;
  gap: 1.2rem;

  a {
    margin-right: 2rem;
  }
}

/*
========================================================
   Button Style
========================================================
*/

.header_social {
  position: absolute;
  top: 15rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    font-size: 1.5rem;
  }

  .soical_line {
    height: 30px;
    width: 4px;
    margin-left: 0.5rem;
    background: rgb(116, 116, 240);
    cursor: pointer;
  }
}

.scoroll_down {
  position: absolute;
  right: 5rem;
  bottom: 10rem;
  transform: rotate(90deg);
}

/*
========================================================
    Mrdia query medium device
========================================================
*/

@media screen and(max-width: 1024px) {
  header {
    width: 100%;
    // height: 70vh !important;
  }
  .scoroll_down {
    right: 2rem;
  }
  .Profile {
    img {
      width: 50%;
      border-radius: 0.5rem;
      background: linear-gradient(to left transparet);
      transition: 0.5s;

      &:hover {
        border-top: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        transform: scale(1.05);
      }
    }
  }
  
}

/*
========================================================
    Mrdia query small device
========================================================
*/

@media screen and(max-width:700px) {
  #main_header {
    width: 100%;
    height: auto;
    // height: 80vh;
  }
  .header_social,
  .scoroll_down {
    display: none;
  }

  .header_title {
    h1 {
      font-size: 2rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1rem;
    }
  }
  .Profile {
    img {
      width: 80%;
      border-radius: 0.5rem;
      background: linear-gradient(to left transparet);
      transition: 0.5s;

      &:hover {
        border-top: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        transform: scale(1.05);
      }
    }
  }
}

@media screen and(max-width: 400px) {
  header {
    width: 100%;
    // height: 50vh;
  }

  .header_title {
    h1 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    h3 {
      font-size: 0.8rem;
    }
  }

  .main_header_btn {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -1rem;

    a {
      margin-right: 1rem;
    }
  }

  .Profile {
    img {
      width: 100%;
      border-radius: 0.5rem;
      background: linear-gradient(to left transparet);
      transition: 0.5s;

      &:hover {
        border-top: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        transform: scale(1.05);
      }
    }
  }
}


@media screen and(max-width: 667px) {
  #main_header {
    // margin-bottom: 10rem;
    height: auto;
  }
}
@media screen and(max-width: 915px) {
  #main_header {
    width: 100%;
    // height: 65vh;
    height: auto;
  }

}
@media screen and(max-width: 844px) {
  #main_header{
    // height: 55vh;
    height: auto;
  }

}

